{% extends 'accounts/main.html' %} 
{% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <p>Are you sure you want to delete the order of '{{item}}'?</p>
        <form action="" method="POST">
          {% csrf_token %}
          <a href="{% url 'home' %}" class="btn btn-info text-white">Cancel</a>
          <input type="submit" class="btn btn-danger" name="Confirm"/>
          <h1></h1>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
